# Summary
Tests/shows usage of the joins module for calculating 
Statistics Canada access at 50/10 (or other levels) with custom geometry 
using the Pseudo Household (PHH) data. 

Produces no output files.

In [5]:
import sys
sys.path.append("..")

import src.datasets.loading.statcan as statcan
import pandas as pd

In [65]:
import src.datasets.joins as joins

In [3]:
import src.config

In [6]:
phh_speed_csv = src.config.DATA_DIRECTORY / 'PHH' / 'CRTC_Speed_Data' / 'PHH_Speeds_Current-PHH_Vitesses_Actuelles.csv'
phh_speeds = pd.read_csv(phh_speed_csv)
phh_speeds = phh_speeds.merge(statcan.phh_csv_data(), on='PHH_ID')
phh_speeds['Pop2016_at_50_10_combined'] = phh_speeds['Combined_50_10_Combine']*phh_speeds['Pop2016']
phh_speeds['TDwell_at_50_10_combined'] = phh_speeds['Combined_50_10_Combine']*phh_speeds['TDwell2016_TLog2016']

In [11]:
phh_speeds

,PHH_ID,Combined_lt5_1_Combine,Wired_lt5_1_Filaire,Wireless_lt5_Sans_fil,Combined_5_1_Combine,Wired_5_1_Filaire,Wireless_5_1_Sans_fil,Combined_10_2_Combine,Wired_10_2_Filaire,Wireless_10_2_Sans_fil,...,Avail_LTE_Mobile_Dispo,Type,Pop2016,TDwell2016_TLog2016,URDwell2016_RH2016,DBUID_Ididu,HEXUID_IdUHEX,Pruid_Pridu,Latitude,Longitude
0,1,1,1,1,1,1,1,1,1,1,...,1,1,0.000000,0.000000,0.000000,10010168002,NL47530528,10,47.528250,-52.769223
1,2,1,1,1,1,1,1,1,1,1,...,1,4,35.250000,17.500000,15.250000,10010168002,NL47530528,10,47.527392,-52.771387
2,3,1,1,1,1,1,1,1,1,1,...,1,3,35.250000,17.500000,15.250000,10010168002,NL47530528,10,47.529142,-52.766984
3,4,1,1,1,1,1,1,1,1,1,...,1,3,15.333333,7.666667,6.333333,10010168003,NL47530528,10,47.529767,-52.770172
4,5,1,1,1,1,1,1,1,1,1,...,1,3,15.333333,7.666667,6.333333,10010168003,NL47530528,10,47.529392,-52.771148
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5638120,6147399,1,1,0,1,1,0,1,1,0,...,1,8,0.000000,0.000000,0.000000,24900057050,QC47380728,24,47.372375,-72.784056
5638121,6147400,1,0,1,1,0,1,1,0,1,...,1,8,0.000000,0.000000,0.000000,48062289048,AB51191140,48,51.173811,-113.998946
5638122,6147401,1,1,1,1,0,1,1,0,1,...,1,8,0.000000,0.000000,0.000000,13070305040,NB45890643,13,45.875702,-64.275899
5638123,6147402,1,1,1,1,1,1,1,1,0,...,1,8,0.000000,0.000000,0.000000,24450099013,QC45270721,24,45.281292,-72.124898
5638124,6147403,1,0,1,1,0,1,1,0,1,...,1,8,0.000000,0.000000,0.000000,48061781009,AB51141141,48,51.155634,-114.118085

In [54]:
phh_geo = statcan.phh_geometry()
phh_full = phh_geo.merge(phh_speeds, on='PHH_ID')

In [64]:
phh_full = phh_full[phh_full.Type!=8]

In [66]:
custom_geometry = joins.hexagons_popctrs_removed()

/Users/zacharyshand/ookla-statcan-analysis/notebooks/../src/datasets/overlays.py:25: UserWarning: `keep_geom_type=True` in overlay resulted in 418 dropped geometries of different geometry types than df1 has. Set `keep_geom_type=False` to retain all geometries
  ol = gp.overlay(left, right, how="union")

In [67]:
custom_geometry

,PCPUID,geometry,HEXuid_HEXidu,HEXUID_PCPUID,pc_area,hex_area,hex_frac,pc_frac
0,100046,"POLYGON ((8944207.286 2128739.017, 8944235.691...","[NL47630532, NL47580532, NL47660533, NL4756053...",100046,NaN,NaN,NaN,NaN
1,100072,"POLYGON ((8717613.591 2169589.374, 8717556.617...","[NL49000555, NL49020555]",100072,NaN,NaN,NaN,NaN
2,100082,"POLYGON ((8886072.203 2235671.746, 8886080.106...","[NL48690531, NL48640531, NL48660531]",100082,NaN,NaN,NaN,NaN
3,100084,"POLYGON ((8719510.443 2189352.651, 8719487.054...","[NL49150554, NL49120554, NL49150553, NL49170554]",100084,NaN,NaN,NaN,NaN
4,100107,"MULTIPOLYGON (((8665399.997 1954814.751, 86654...","[NL47630576, NL47610576, nan]",100107,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
520350,NaN,"POLYGON ((4391568.918 2319505.032, 4389028.114...",BC53331204,BC53331204-XXXXXX,NaN,2.441105e+07,1.0,NaN
520351,NaN,"POLYGON ((4370293.149 2275226.474, 4367751.202...",BC52891204,BC52891204-XXXXXX,NaN,2.447289e+07,1.0,NaN
520352,NaN,"POLYGON ((4359727.416 2253237.353, 4357184.726...",BC52661204,BC52661204-XXXXXX,NaN,2.450451e+07,1.0,NaN
520353,NaN,"POLYGON ((4380906.610 2297314.924, 4378365.292...",BC53111204,BC53111204-XXXXXX,NaN,2.444205e+07,1.0,NaN
520354,NaN,"POLYGON ((4402281.048 2341798.831, 4399740.647...",BC53561204,BC53561204-XXXXXX,NaN,2.438113e+07,1.0,NaN

In [70]:
phh_custom_join = phh_full.sjoin(custom_geometry[['geometry','HEXUID_PCPUID']])

In [72]:
phh_custom_join.columns

Index(['PHH_ID', 'geometry', 'Combined_lt5_1_Combine', 'Wired_lt5_1_Filaire',
       'Wireless_lt5_Sans_fil', 'Combined_5_1_Combine', 'Wired_5_1_Filaire',
       'Wireless_5_1_Sans_fil', 'Combined_10_2_Combine', 'Wired_10_2_Filaire',
       'Wireless_10_2_Sans_fil', 'Combined_25_5_Combine', 'Wired_25_5_Filaire',
       'Wireless_25_5_Sans_fil', 'Combined_50_10_Combine',
       'Wired_50_10_Filaire', 'Wireless_50_10_Sans_fil',
       'Combined_Max_Threshold-Combine_Seuil_Max',
       'Wired_Max_Threshold-Filaire_Seuil_Max',
       'Wireless_Max_Threshold-Sans_fil_Seuil_Max', 'Avail_LTE_Mobile_Dispo',
       'Type', 'Pop2016', 'TDwell2016_TLog2016', 'URDwell2016_RH2016',
       'DBUID_Ididu', 'HEXUID_IdUHEX', 'Pruid_Pridu', 'Latitude', 'Longitude',
       'pop_at_50_10_combined', 'TDwell_at_50_10_combined', 'index_right',
       'HEXUID_PCPUID'],
      dtype='object')

In [75]:
custom_aggs = phh_custom_join.groupby('HEXUID_PCPUID')[['Pop2016', 'TDwell2016_TLog2016', 'URDwell2016_RH2016','pop_at_50_10_combined', 'TDwell_at_50_10_combined',]].sum()

In [84]:
custom_aggs.loc['480191']

Pop2016                     25289.000000
TDwell2016_TLog2016          9959.000000
URDwell2016_RH2016           9542.000000
pop_at_50_10_combined       24533.373275
TDwell_at_50_10_combined     9655.587334
Name: 480191, dtype: float64

In [81]:
f'{1.237646e6:,.0f}'

'1,237,646'

In [87]:
custom_aggs.loc['AB51361140-XXXXXX']

Pop2016                     88.501433
TDwell2016_TLog2016         33.712559
URDwell2016_RH2016          32.753755
pop_at_50_10_combined       81.144064
TDwell_at_50_10_combined    31.034742
Name: AB51361140-XXXXXX, dtype: float64

In [41]:
grps = phh_speeds.groupby('HEXUID_IdUHEX')
manual_hexagons = pd.concat([
    grps['Pop2016'].sum(),
    grps['TDwell2016_TLog2016'].sum(),
    grps['URDwell2016_RH2016'].sum(),
    grps['pop_at_50_10_combined'].sum(),
    grps['TDwell_at_50_10_combined'].sum()
],axis=1)
manual_hexagons['percent_pop_50_10_avail'] = (manual_hexagons['pop_at_50_10_combined']/manual_hexagons['Pop2016']*100)
manual_hexagons['percent_dwell_50_10_avail'] = (manual_hexagons['TDwell_at_50_10_combined']/manual_hexagons['TDwell2016_TLog2016']*100)

In [51]:
samples = manual_hexagons.sample(10).index

In [52]:
manual_hexagons.loc[samples.values].sort_index()

,Pop2016,TDwell2016_TLog2016,URDwell2016_RH2016,pop_at_50_10_combined,TDwell_at_50_10_combined,percent_pop_50_10_avail,percent_dwell_50_10_avail
HEXUID_IdUHEX,,,,,,,
AB51031118,2.566313,2.590849,1.590849,0.000000,0.000000,0.000000,0.000000
AB51061138,12789.221934,3990.491113,3927.123256,12708.712823,3965.495947,99.370493,99.373632
AB51361110,3.668831,1.328008,1.328008,0.000000,0.000000,0.000000,0.000000
AB54471123,9.234899,2.791946,2.684564,0.000000,0.000000,0.000000,0.000000
AB55061139,7.959316,4.180225,3.780699,0.000000,0.000000,0.000000,0.000000
NB46040678,17.023256,8.093023,7.255814,0.000000,0.000000,0.000000,0.000000
NS43600657,77.692308,37.971154,34.567308,32.153846,16.605769,41.386139,43.732591
ON44370787,18851.006545,8898.854002,8314.718897,18847.935117,8897.568287,99.983707,99.985552
QC48230795,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
YT63931355,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN

In [53]:
statcan.hexagon_data().loc[lambda s:s.HEXuid_HEXidu.isin(samples)].sort_values(by='HEXuid_HEXidu')

,HEXuid_HEXidu,SumPop_2016_SommePop,SumURD_2016_SommeRH,SumTD_2016_SommeTL,Avail_5_1_75PctPlus_Dispo,Avail_50_10_Gradient_Dispo
2708,AB51031118,<5,<5,<5,T,0
2768,AB51061138,501+,501+,501+,T,>75% - 100%
3234,AB51361110,<5,<5,<5,T,0
8902,AB54471123,5-25,<5,<5,T,0
9649,AB55061139,5-25,<5,<5,T,0
27555,NB46040678,5-25,5-25,5-25,F,0
31163,NS43600657,51-100,26-50,26-50,F,>25% - 50%
36549,ON44370787,501+,501+,501+,T,>75% - 100%
49043,QC48230795,NaN,NaN,NaN,F,0
64927,YT63931355,NaN,NaN,NaN,F,0

In [95]:
phh_full

,PHH_ID,geometry,Combined_lt5_1_Combine,Wired_lt5_1_Filaire,Wireless_lt5_Sans_fil,Combined_5_1_Combine,Wired_5_1_Filaire,Wireless_5_1_Sans_fil,Combined_10_2_Combine,Wired_10_2_Filaire,...,Pop2016,TDwell2016_TLog2016,URDwell2016_RH2016,DBUID_Ididu,HEXUID_IdUHEX,Pruid_Pridu,Latitude,Longitude,pop_at_50_10_combined,TDwell_at_50_10_combined
12976,4966173,POINT (4014031.800 2006761.200),1,1,1,1,1,1,1,1,...,3.875229,1.365138,1.188991,59150968013,BC49251232,59,49.257718,-123.175190,3.875229,1.365138
12977,4957793,POINT (4014046.700 2006787.300),1,1,1,1,1,1,1,1,...,21.000000,9.000000,7.750000,59150591005,BC49251232,59,49.257987,-123.175180,21.000000,9.000000
12978,5015696,POINT (4048575.600 1982937.500),1,1,0,1,1,0,1,1,...,8.061241,4.964545,4.669621,59152437024,BC49231226,59,49.213994,-122.602340,8.061241,4.964545
12979,5015622,POINT (4048598.700 1982918.000),1,1,0,1,1,0,1,1,...,27.385336,16.750697,16.385560,59152436001,BC49231226,59,49.213935,-122.601935,27.385336,16.750697
12980,5115114,POINT (3962811.100 1950122.500),1,1,0,1,1,0,1,1,...,19.383687,7.698206,7.540294,59170731001,BC48591234,59,48.591087,-123.423857,19.383687,7.698206
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5638120,5500282,POINT (8569401.000 2070837.500),1,1,1,1,1,1,1,1,...,7.857143,3.857143,3.857143,10050106008,NL48940579,10,48.950311,-57.937398,7.857143,3.857143
5638121,5500283,POINT (8770721.600 2052351.000),1,1,0,0,0,0,0,0,...,4.146667,1.546667,1.506667,10030097002,NL47880558,10,47.863827,-55.755687,0.000000,0.000000
5638122,5501119,POINT (8197377.600 2412728.400),1,1,0,0,0,0,0,0,...,50.000000,44.000000,26.000000,10100116006,NL53310602,10,53.306554,-60.167659,0.000000,0.000000
5638123,5501153,POINT (8956859.000 2125179.600),1,1,0,0,0,0,0,0,...,4.100000,2.850000,2.000000,10010559002,NL47460532,10,47.482061,-53.169067,0.000000,0.000000
5638124,5501154,POINT (8957562.900 2122643.400),1,1,1,1,1,1,1,1,...,5.923077,3.461538,2.538462,10010559001,NL47460532,10,47.459861,-53.180560,5.923077,3.461538